* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

canvas {
    border: 2px solid red;
    width: 60vw;
    height: 82vh;
    top: 30px;
    position: relative;
    left: 20px;
    padding: 5px;
}
