* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    /* backdrop-filter: blur(1px); */
}

canvas {
    border: 2px solid red;
    width: 61vw;
    height: 82vh;
    top: 30px;
    position: relative;
    left: 20px;
}