* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
h1{
    position: absolute;
    top: 0px;
    font-size: 50px;

}img{
    height: 50px;
}
canvas {
    border: 2px solid red;
    width: 60vw;
    height: 82vh;
    top: 30px;
    position: relative;
    left: 20px;
    padding: 5px;
}

#toolbar{
    border: 2px solid red;
    position: absolute;
    left: 2%;
    /* background-color: gray; */
    backdrop-filter: blur(4px);
    height: 40vh;
}
#sidebar{
    border: 2px solid red;
    position: absolute;
    right: 2%;
    /* background-color: gray; */
    backdrop-filter: blur(4px);
    height: 40vh;
}